<% flash.each do |name, msg| %>
  <div class="ui message <%= name == "notice" ? "positive" : "negative" %>">
    <i class="close icon"></i>
    <%= content_tag(:div, msg) %>
  </div>
<% end %>
<div class="header">
