@import "semantic-ui";

.chatbox {
  height: 450px;
}

.borderless {
  border: none !important;
}

.ui.basic.buttons.link .button:hover,
.ui.basic.button.link:hover {
  background: none !important;
  :hover {
    background: none !important;
  }
}

$max: 10;
$offset: 1;
$unit: "em";
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}
@include list-loop(".mb-", "margin-bottom");
